// 框架字体
$font: 14px/1.5 'PingFangSC-Light', 'Microsoft YaHei';
$font-weight: PingFangSC, 'Microsoft YaHei';

// 框架的背景样式
$app-bg: #f2f5f8;

// 框架使用的iconfont中的字体 开头时候使用字体
$app-iconfont: 'noa';
$app-iconfont-pre: 'noa';

// 布局变量
$aside-width: 200px;
$aside-width--collapse: 64px;
$header-height: 52px;
